@import '../../styles/var.scss';

.header {
  height: $layoutHeaderHeight;
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px 32px;
  width: 100%;

  > img {
    width: 40px;
    height: 40px;
  }
  .website-title {
    font-weight: 700;
    font-size: 36px;
    margin-left: 16px;
  }
  
  .github-link {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 32px;
    color: #a4b2c1;
    font-weight: 700;
    font-size: 20px;
    background-color: #1f2329;
    border-radius: 4px;
  }
}